fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
google-genai
firebase-admin
huggingface-hub
python-multipart
pillow
httpx
python-jose[cryptography]
passlib[bcrypt]
email-validator
google-genai
groq
